:root 
    --small-text: 20px
    --font-weight-thick: bold
    --big-text: 40px
    --font-weight: 400
    --width: 250px

@font-face 
    font-family: Lexend
    src: url('LexendDeca-Regular.woff')


@font-face 
    font-family: BigShoulders
    src: url('BigShouldersDisplay-Regular.woff')

@mixin card-structure()
    width: 20rem
    padding: 2rem
    color: white
   
   
@mixin button()
    border-radius: 2rem
    width: 7rem
    text-align: center
    background-color: white
    padding: 1rem

    
.card
  
    
    &--orange
        background-color: hsl(31, 77%, 52%)
        border-top-left-radius: 1rem
        border-top-right-radius: 1rem
        


    &--blue
        background-color: hsl(184, 100%, 22%)
         border-bottom-left-radius: 0
        border-bottom-right-radius: 0
      

    &--green
        background-color: hsl(179, 100%, 13%)
        border-bottom-left-radius: 1rem
        border-bottom-right-radius: 1rem
       

    img
        max-width: 60px
        margin-top: 3rem


.cards 

    &__container 
        display: flex
        flex-direction: column
        @include card-structure()
        padding: 2rem

     
    &__button__container
        display: flex
        align-items: flex-end
        height: 100%
        

    &__headline
        font-size: var(--big-text)
        font-weight: var(--font-weight-thick)
        font-family: BigShoulders
    
    &__text
        font-size: var(--small-text)
        font-weight: var(--font-weight)
        margin-top: -1rem
        

    &__button__orange
        color: hsl(31, 77%, 52%)
        @include button()

    &__button__blue
        color:  hsl(184, 100%, 22%)
        @include button()

    &__button__green
        color: hsl(179, 100%, 13%)
        @include button()
